In [2]:
# 90 Calculate the power of number without using **
def power(base, exp):
    result = 1
    for _ in range(exp):  # fixed typo: `_in` → `in`
        result *= base     # fixed typo: `basee` → `base`
    return result

print(power(2, 3))  # Output: 8

8

In [4]:
# 91 Count Occurrences of Each Character in String 
def char_count(s):
    result={}
    for char in s:
        result[char]=result.get(char,0)+1
    return result

print(char_count("banana"))

{'b': 1, 'a': 3, 'n': 2}

In [6]:
#92 Swap the First and Last Elements in a list 
def swap_first_last(lst):
    if len(lst)>1:
        lst[0],lst[-1],lst[0]
    return lst

print(swap_first_last([1,2,3,4]))

[1, 2, 3, 4]

In [8]:
# 93. Find the Second Largest Number in a List
def second_largest(lst):
    unique=list(set(lst))
    unique.sort()
    return unique[-2] if len(unique)>=2 else None

print(second_largest([1,3,4,5,2]))

4

In [10]:
# 94. Flatten a Nested List
def flatten(lst):
    return [item for sublist in lst for item in sublist]

print(flatten([[1,2],[3,4],[5]]))

[1, 2, 3, 4, 5]

In [12]:
# 95. Print a left-aligned triangle pattern 
def left_triangle(n):
    for i in range(1,n+1):
        print("*" *i)

left_triangle(5)

*
**
***
****
*****

In [14]:
# 96 Count the vowels in a string
def count_vowels(s):
    vowels='aeiouAEIOU'
    return sum(1 for char in s if char in vowels)

print(count_vowels("python programming"))

4

In [16]:
# 97. Remove Consecutive Duplicate in  a list
def remove_consecutive_duplucates(lst):
    result = [lst[0]] if lst else[]
    for item in lst[1:]:
        if item !=result[-1]:
            result.append(item)
        return result

print(remove_consecutive_duplucates([1,1,2,2,3,1,1]))

[1]

In [20]:
# 98. Convert Decimal to Binary
def dec_to_bin(n):
    return bin(n)[2:]

print(dec_to_bin(10))

1010

In [22]:
# 99. Check if a number is an Armstrong Number 
def is_armstrong(n):
    digits=[int(d) for d in str(n)]
    power = len(digits)
    return sum(d** power for d in digits)==n

print(is_armstrong(153))

True

In [24]:
# 100. Count Total Words in a Sentence
def word_count(sentence):
    return len(sentence.split())

print(word_count("Hello world, Python is fun !"))

6