# Arithmetic operators

In [2]:
 a = 10 
 b = 20

In [3]:
# addition
print("addition +: ",a+b)
# substraction
print('sub-: ',a-b)
#multiplication
print('mul',a*b)
#division
print('divi: ',a/b)
print('modulo: ',a%b)
print('floor division: ',a//b) #gives quotiont
print('square: ',a**b)
print('pow(5,4)',pow(5,4))
#print('round: ',a(b))
x = round(2.987654212345678987654)
print('x = round(2.987654212345678987654): ',x)

addition +:  30
sub-:  -10
mul 200
divi:  0.5
modulo:  10
floor division:  0
square:  100000000000000000000
pow(5,4) 625
x = round(2.987654212345678987654):  3

In [4]:
# comparision op
print('a>b',a>b)
print('a<b',a<b)
print('a>=b',a>=b)
print('a<=b',a<=b)
print('a==b',a==b)
print('a!=b',a!=b)

a>b False
a<b True
a>=b False
a<=b True
a==b False
a!=b True

In [5]:
# and
print(True and True)
print(True and False)
print(False and True)
print(False and False)
# or 
print()
print(True and True)
print(False and True)
print(True and False)
print(False and False)
# NOT
print()

print(not True)
print(not False)

True
False
False
False

True
False
False
False

False
True

In [6]:
x= True
y = False
print('Logical AND operation : ',x and y)
print('Logical OR operation: ',x or y)
print('NOT operation: ', not y)

Logical AND operation :  False
Logical OR operation:  True
NOT operation:  True

In [7]:
42//5

8

# if conditional statement

In [16]:
a = 3
if a<6:
    print('we started to work om conditional statements')
print('Hello')

we started to work om conditional statements
Hello

In [18]:
a=7
if a==3:
    print('conditional is true')
print('false')

false

In [20]:
x = - 23
if x>0:
    print('i am in if block')
else:
    print('else block')

else block

if(5>4):
    print('5 is big ')
print('i am in if block')
print('i am out of if block')

In [24]:
# if ..... else

x =0
if x>0:
    print('x is +ve')
    print('i am in IF block')
else:
    print('x is negative')
    print('i am in else block')

print('run code')

x is negative
i am in else block
run code

# Input function

### input takes values as string by default

In [29]:
a = input('Enter your name: ')

Enter your name:  rahul

In [32]:
type(a)

str

In [42]:
c = int(input('Enter your age: '))

Enter your age:  12

In [40]:
type(c)

int

In [44]:
c

12

In [56]:
x = int(input('Enter a number'))
if(x>10):
    print('x is greater than 10',x,'>10')
elif(x==6):
    print("x==",x)
elif(x==0):
    print("x==",x)
else:
    
    print('Excuton done')

Enter a number 0

x== 0

In [62]:
num = int(input("Enter a number: "))
if num>0:
    print("positive num: ",num)
elif num == 0:
    print('zero',num)
elif num<0:
    print('negative number: ',num)

Enter a number:  -1

negative number:  -1

In [64]:
print(num)

-1

In [66]:
print(type(num))

<class 'int'>

In [70]:
# if elif else

x = int(input('Enter a num: '))

if x >0:
    print("x is +ve: ",x)
elif x ==0:
    print("x is zero",x)
elif x<0:
    print('x is -ve: ',x)
print('execution done...')

Enter a num:  -1

x is -ve:  -1
execution done...

In [74]:
# nesting of if
x = 5
if(x>=3):
    print('i am in 1st if ')
    if(x>2):
        print('i am in 1st in 1st if')
        if(x==2):
            print('i am in 1st if=>1st if=>1st if')
            if(x==5):
                print(x)

i am in 1st if
i am in 1st in 1st if

In [79]:
num = int(input("Emnter the number: "))
if num %2==0:
    print('even number: ')
else:
    print('odd  number: ')

Emnter the number:  1

odd  number:

In [81]:
i =6 
if(i>0):
    print('fisrt loop')
    if(i<=5):
        print('2nd loop')
        print('num is primary range')
        if(i>5): #false
            print('mid range')
        else:
            print('end od the loop')
else:
    print('number is negative')
print('out of the 2nd loop')

fisrt loop
out of the 2nd loop

In [83]:
str1 = input('Enter a string')
if str1==str1.upper():
    print(str1,'is in uppercase')
else:
    print(str1,'in lower case')

Enter a string hul

hul in lower case

In [85]:
i =10
if(i==10):
    if(i<15):
        print(i,'< 15')
    if(i<12):
        print(i,'<12')
    else:
        print(i,'>15')
else:
    print('code execute')

10 < 15
10 <12

In [91]:
x = int(input())
if x <10:
    print(x,'yes it correct')
elif x < 2:
    print(x,'number is small less than 10')

 9

9 yes it correct

In [99]:
from datetime import date

In [101]:
x = date.today()
print(x)

2024-12-12

In [107]:
from datetime import time

In [109]:
y = time()
print(y)

00:00:00

In [111]:
from datetime import datetime as dt
date1=dt.now()
print('Time is : ',date1)

Time is :  2024-12-12 11:11:59.748357

In [115]:
dt.date(date1)

datetime.date(2024, 12, 12)

In [117]:
dt.time(date1)

datetime.time(11, 11, 59, 748357)

In [131]:
i = 10
if (i == 10):
    #  First if statement
    if (i < 15):
        print(i," is smaller than 15")

    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i == 11):
        print("i= 10 ")
    else:
        print("i is less than 10")

10  is smaller than 15
i is less than 10

## Packages
### Datetime packages

In [3]:
from datetime import date

In [9]:
my_date = date(2024,12,16) ## simple date creation

In [11]:
my_date

datetime.date(2024, 12, 16)

In [13]:
# getting today's date
today1 =date.today()
print("Today's date is : ",today1)

Today's date is :  2024-12-16

In [15]:
today1.isoweekday()

1

In [17]:
today1.year

2024

In [19]:
today1.month

12

In [21]:
 # Get today's year, month, date
print("Current year: ",today1.year)
print("Current month: ",today1.month)
print("Current day: ",today1.day)

Current year:  2024
Current month:  12
Current day:  16

In [23]:
# get date  from datetime sub module
from datetime import datetime as dt

In [25]:
date1=dt.now()

In [27]:
print("Time is : ",date1)

Time is :  2024-12-16 10:03:58.370919

In [29]:
dt.date(date1)

datetime.date(2024, 12, 16)

In [31]:
dt.time(date1)

datetime.time(10, 3, 58, 370919)

In [33]:
date1.day

16

In [35]:
date1.hour

10

In [37]:
date1.isoweekday()

1

In [39]:
date1.month

12

In [41]:
date1.hour

10

In [45]:
# time submodule
from datetime import time

In [47]:
my_time = time(7,8,45)

In [49]:
print('Enterd time: ',my_time)

Enterd time:  07:08:45

In [55]:
# timdedelta function demonstartion
from datetime import date,timedelta
current_date = date.today()
future_date_after_2yrs= current_date+timedelta(days=730)
future_date_after_2yrs

datetime.date(2026, 12, 16)

In [1]:
# task
from datetime import date,timedelta
age = 25
day_after = 5000/365
result = age+day_after
print(result,'years')

38.6986301369863 years

In [65]:
from datetime import date,timedelta
bod= date(2000,4,28)
date = bod+timedelta(days=5000)
print("Date: ",date)
# cal age 
bod

Date:  2014-01-05

# data struicture
### list

In [69]:
# list creation
l1=[] #empty list

In [71]:
l1

[]

In [73]:
type(l1)

list

In [75]:
a=[1,2,3,4]

In [77]:
type(a)

list

In [79]:
l2=list([1,2,3,4])

In [87]:
# list of string 
l3=["Acb","dsa","hj","osdfj"]
len(l3)
type(l3)

list

# lis of float
l4 = [12.2,324.54,78,8]
l4

In [91]:
# mixed data 
l5 = ['Data',23,[80,90],['ha','hi']]

In [93]:
len(l5)

4

In [95]:
l6 = [100, 'Data',17.765]

In [97]:
len(l6)

3

# List indexing and slicing

In [102]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [104]:
mylist[6]

'seven'

In [106]:
mylist[0:3]

['one', 'two', 'three']

In [108]:
mylist[0:7:2]

['one', 'three', 'five', 'seven']

# Add

In [111]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [113]:
mylist.append('nine')

In [115]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [119]:
mylist.append(2)

In [121]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 2]

In [123]:
l = [1,2,3]

In [125]:
mylist.insert(3,1)

In [127]:
mylist

['one', 'two', 'three', 1, 'four', 'five', 'six', 'seven', 'eight', 'nine', 2]

In [129]:
len(mylist)

11

In [133]:
mylist.extend([1,2,3])
mylist

['one',
 'two',
 'three',
 'tenn',
 1,
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 2,
 1,
 2,
 3]

In [135]:
mylist.pop() # delete last element in the list

3

In [137]:
mylist

['one',
 'two',
 'three',
 'tenn',
 1,
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 2,
 1,
 2]

In [139]:
mylist.pop(1) #it will delete index 1th element

'two'

In [141]:
mylist.remove('one') # remove 'one from list'

In [143]:
mylist

['three', 'tenn', 1, 'four', 'five', 'six', 'seven', 'eight', 'nine', 2, 1, 2]

In [145]:
mylist.clear() # it will remove all element in tge list
mylist

[]

In [147]:
mylist.append('HI')
mylist

['HI']

In [167]:
mylist.insert(1,90)
mylist.extend([8,6,5,7,8])
mylist.insert(1,888)
mylist.insert(4,90)
mylist

[8, 888, 90, 90, 90, 888, 90, 6, 5, 7, 8, 8, 6, 5, 7, 8, 8, 6, 5, 7, 8]

In [169]:
del mylist[0]
mylist

[888, 90, 90, 90, 888, 90, 6, 5, 7, 8, 8, 6, 5, 7, 8, 8, 6, 5, 7, 8]

In [175]:
del mylist # it is dlt mylist

NameError: name 'mylist' is not defined

In [177]:
mylist

NameError: name 'mylist' is not defined

# Join Lits

In [180]:
list2 = ['ten','twenty','el..','twel..']
list1 =['one','two','three','four']

list1 
list2

In [183]:
list3 = list1+list2
list3

['one', 'two', 'three', 'four', 'ten', 'twenty', 'el..', 'twel..']

In [185]:
list2.extend(list1) # ti will add elements of list 1 in list 2 at the end

In [187]:
list2

['ten', 'twenty', 'el..', 'twel..', 'one', 'two', 'three', 'four']

In [191]:
list1.append(list2) # append will add elemets of list2 in the index one and [[list1],list2]

In [193]:
list1

['one',
 'two',
 'three',
 'four',
 ['ten', 'twenty', 'el..', 'twel..', 'one', 'two', 'three', 'four']]

In [195]:
len(list1)

5

# List membership

In [198]:
'one' in list1 #'in' keywords works=> it is present or not if yes then print true

True

In [200]:
10 not in list1 #not in print if not exit then print True

True

## Reverse & sort list

In [205]:
list1 = [5,6,7,2,1] #reverse order

In [207]:
list1

[5, 6, 7, 2, 1]

In [209]:
list1.reverse()
list1

[1, 2, 7, 6, 5]

In [211]:
list1

[1, 2, 7, 6, 5]

In [213]:
list1[::-1]

[5, 6, 7, 2, 1]

In [217]:
list1.sort()

In [219]:
list1

[1, 2, 5, 6, 7]

In [221]:
list4=[1,2,3.5,6]

In [223]:
list4.sort()

In [225]:
list4

[1, 2, 3.5, 6]

In [227]:
mylist3 = [9,5,99,100,1,88,0,34]
mylist3.sort(reverse=False) # sort() =>asc order
mylist3

[0, 1, 5, 9, 34, 88, 99, 100]

In [229]:
mylist3 = [9,5,2,99,12,88,34]

In [231]:
mylist3.sort(reverse=True) #sort list in dec order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [233]:
list4=[1,2,3,'cat','dog','egg']

In [235]:
list4

[1, 2, 3, 'cat', 'dog', 'egg']

In [237]:
list4.sort() # can't do int and string in list for sort

TypeError: '<' not supported between instances of 'str' and 'int'

In [239]:
l1=['abs','abc','aaf','fre','klj','def']

In [241]:
l1.sort()

In [243]:
l1

['aaf', 'abc', 'abs', 'def', 'fre', 'klj']

In [247]:
# complex list
clist = [0,9,8,1,[000]]
print('clist:- ',clist)
clist.sort()
clist

clist:-  [0, 9, 8, 1, [0]]

TypeError: '<' not supported between instances of 'list' and 'int'

# All/ any

In [250]:
L1 = [1,2,3]

In [252]:
L3 = [1,2,3,4,5,0]

In [254]:
all(L1)

True

In [256]:
all(L3) #it gives us false 2cz here is 0

False

In [258]:
any(L3)

True

In [260]:
l=[0,0,0]
any(l)

False

In [262]:
all(l)

False

In [264]:
L2=['a','c','d','0']
print(any(L2))

True

In [266]:
print(all(L2))

True

# Tuples

In [269]:
tup1 = ()

In [271]:
tup1

()

In [273]:
type(tup1)

tuple

In [275]:
tup2=(10,20,30)

In [277]:
print(tup2)

(10, 20, 30)

In [279]:
print(type(tup2))

<class 'tuple'>

In [281]:
tup3=(10.77,30.66,60.89)

In [283]:
tup4=('one','two','three')

In [285]:
tup5 = ('Data',25,(50,100),(150,90))

In [289]:
tup6 =(100,'Data',17.765)

In [291]:
tup7 = ('Data',25,[50,100],[150,90],['John','David'],(99,22,33))

In [293]:
tup7

('Data', 25, [50, 100], [150, 90], ['John', 'David'], (99, 22, 33))

In [295]:
tup7[4][0]

'John'

In [297]:
len(tup7)

6

In [299]:
print(tup2)

(10, 20, 30)

In [301]:
print(tup3)

(10.77, 30.66, 60.89)

In [303]:
print(tup4,tup5)

('one', 'two', 'three') ('Data', 25, (50, 100), (150, 90))

In [305]:
print(tup6,tup7)

(100, 'Data', 17.765) ('Data', 25, [50, 100], [150, 90], ['John', 'David'], (99, 22, 33))

# Tuple indexing

In [308]:
tup2

(10, 20, 30)

In [310]:
tup2[1]

20

In [312]:
tup2=(5,8,'apple',10,True)

In [314]:
tup2[0:3]

(5, 8, 'apple')

In [316]:
tup8=('Data',25,[50,100],[150,90],['David','john'],(99,22,33))

In [318]:
tup8

('Data', 25, [50, 100], [150, 90], ['David', 'john'], (99, 22, 33))

In [320]:
tup8[2][1]

100

In [322]:
tup8[5][1]

22

In [324]:
tup8.index(25)

1

In [338]:
tup8.index('Data')

0

In [340]:
tup8.index(['David', 'john'])

4

## Tuple Slicing

In [343]:
mytuple = ('one' , 'two' , 'three' ,
           'four' , 'five' , 'six' , 'seven' , 'eight')

In [345]:
mytuple[0:3]

('one', 'two', 'three')

## Remove & change item

In [348]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [350]:
del mytuple[0] # thorw's an error cz tuples are immutable

TypeError: 'tuple' object doesn't support item deletion

In [352]:
mytuple[0]=1 # can't cange value cz tuples are immmutable

TypeError: 'tuple' object does not support item assignment

In [354]:
del mytuple # happens cz it will dlt all tuple not happens (remove,clear)

 # count

In [357]:
mytuple1=('one' , 'two' , 'three' ,
           'four' , 'five' , 'six' , 'seven' , 'eight')

In [359]:
mytuple1.count('one') # it will count how many 'one' cames

1

In [361]:
mytuple1.index('two') #it will give two index

1

## tuple memebership

In [364]:
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [366]:
'80' in mytuple1 #check 80 exist or not

False

# Sorting

In [369]:
mytuple2 = (43,67,99,12,6,90,67)

In [371]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [373]:
type(mytuple2)

tuple

In [375]:
sorted(mytuple2)  #sort elemenst in asc order

[6, 12, 43, 67, 67, 90, 99]

In [389]:
sorted(mytuple2, reverse= True) #reverse order by sorting

[99, 90, 67, 67, 43, 12, 6]

In [387]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [383]:
mytuple2[::-1]

(67, 90, 6, 12, 99, 67, 43)

In [391]:
sorted(mytuple2, reverse= False)

[6, 12, 43, 67, 67, 90, 99]

 # Sets

In [396]:
myset1={} # Empty set cannot be created by curly braces

In [398]:
myset1

{}

In [400]:
type(myset1)

dict

In [402]:
myset = set() # crt empty set
myset

set()

In [404]:
myset={1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [406]:
type(myset)

set

In [408]:
len(myset)

5

In [410]:
my_set ={1,2,1,2,1,2,3,3,5,5,6,6}

In [412]:
my_set

{1, 2, 3, 5, 6}

In [414]:
len(my_set)

5

In [416]:
myset1 = {1.89,2.89,4.89,90.88}
myset1

{1.89, 2.89, 4.89, 90.88}

In [418]:
myset2={'Data','John','tyrion','John'}

In [420]:
myset2

{'Data', 'John', 'tyrion'}

In [422]:
myset3 = {(11,22,32),10,20,"Hola"}

In [424]:
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [426]:
type(myset3)

set

# Set membership

In [429]:
myset = {'one','two','three', 'four', 'five', 'six',
         'seven', 'eight'}

In [431]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [433]:
'nine' in myset

False

# Add & Remove items

In [438]:
myset ={2,3,4}

In [440]:
myset.add('9')
myset

{2, 3, 4, '9'}

In [444]:
myset[1] # idexinf not supported

TypeError: 'set' object is not subscriptable

In [446]:
myset.update(['TEN','ELEVEN','TWELVE'])
myset

{2, 3, 4, '9', 'ELEVEN', 'TEN', 'TWELVE'}

In [448]:
# delete random element
myset.pop()

'ELEVEN'

In [450]:
myset.remove(2)

In [452]:
myset

{3, 4, '9', 'TEN', 'TWELVE'}

In [454]:
myset.discard('9')#it will also remove by taking value similar to remove
myset

{3, 4, 'TEN', 'TWELVE'}

In [456]:
myset.add('Eleven')

In [458]:
myset

{3, 4, 'Eleven', 'TEN', 'TWELVE'}

In [460]:
myset.pop()

'Eleven'

In [462]:
myset.add('Delete')

In [464]:
myset.pop()

3

In [466]:
myset

{4, 'Delete', 'TEN', 'TWELVE'}

In [470]:
myset.clear()
myset

set()

In [472]:
del myset

In [474]:
myset

NameError: name 'myset' is not defined

# Set operation

In [479]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C =  {8,9,10}

In [481]:
A.union(B) #union of A & B

{1, 2, 3, 4, 5, 6, 7, 8}

In [483]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [485]:
print(A | B) #it is also union

{1, 2, 3, 4, 5, 6, 7, 8}

In [487]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [489]:
A.intersection(B) #intersection

{4, 5}

In [491]:
print(A & B)

{4, 5}

In [493]:
A.difference(B)

{1, 2, 3}

B.difference(A)

In [497]:
str = {"A","B","C","D"}
str1 = {"C","D","E","F"}
str2 = {"F","G","H"}

In [499]:
str1.difference(str)

{'E', 'F'}

In [501]:
str.difference(str1)

{'A', 'B'}

In [503]:
print(str & str1)

{'C', 'D'}

In [505]:
str.intersection(str1)

{'C', 'D'}

In [507]:
str.union(str1)

{'A', 'B', 'C', 'D', 'E', 'F'}

In [509]:
str1.union(str)

{'A', 'B', 'C', 'D', 'E', 'F'}

In [519]:
print(str)
print(str1)
print(str2)

{'B', 'A', 'C', 'D'}
{'F', 'C', 'D', 'E'}
{'G', 'H', 'F'}

In [521]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

# Dictionary

In [524]:
# crt diectionary 
d = {}

In [526]:
type(d)

dict

In [528]:
mydict=dict()

In [530]:
mydict

{}

In [532]:
type(mydict)

dict

In [534]:
mydict = {1:'one',2:'two',3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [536]:
type(mydict)

dict

In [538]:
mydict = dict({1:'one',2:'two',3:'three'})

In [540]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [542]:
mydict.keys() # returnd all dict keys

dict_keys([1, 2, 3])

In [544]:
mydict.values() # return all dict values

dict_values(['one', 'two', 'three'])

In [548]:
mydict.items() #gievs all key and values access

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [550]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [552]:
mydict ={1:'one',2:'two','A':['Data','John','Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['Data', 'John', 'Maria']}

In [554]:
mydict['A'][2]

'Maria'

In [556]:
d={0:{'one':1,'two':2,'three':3,'four':4},
  1:{'city':'banglore','area':'kudlu'},
  'three':{'city':'mumbai','area':'dharavi'}}

In [558]:
d

{0: {'one': 1, 'two': 2, 'three': 3, 'four': 4},
 1: {'city': 'banglore', 'area': 'kudlu'},
 'three': {'city': 'mumbai', 'area': 'dharavi'}}

In [562]:
d['three']['city']

'mumbai'

In [564]:
type(a)

list

In [566]:
v = [0,1,2,3,[8,{5:[67,89,90,{'area':'kudlu','city':'banglore'}]}]]

In [568]:
v

[0, 1, 2, 3, [8, {5: [67, 89, 90, {'area': 'kudlu', 'city': 'banglore'}]}]]

In [575]:
# task extrcat banglore
v

[0, 1, 2, 3, [8, {5: [67, 89, 90, {'area': 'kudlu', 'city': 'banglore'}]}]]

In [591]:
type(v)

list

In [629]:
print(v[4])
print(v[4][1])
print(v[4][1][5])
print(v[4][1][5][3])
print(v[4][1][5][3]['city'])

[8, {5: [67, 89, 90, {'area': 'kudlu', 'city': 'banglore'}]}]
{5: [67, 89, 90, {'area': 'kudlu', 'city': 'banglore'}]}
[67, 89, 90, {'area': 'kudlu', 'city': 'banglore'}]
{'area': 'kudlu', 'city': 'banglore'}
banglore

In [645]:
# task 
student = {
           1:['rahul',24,'DA'],
           2:['aditya',22,'DS'],
           3:['sanket',26,'DS'],
           4:['raghav',67,'Bussiness'],
           5:['adi',35,'Science'],
           6:['Empty',0,'NA']
          }

In [647]:
student

{1: ['rahul', 24, 'DA'],
 2: ['aditya', 22, 'DS'],
 3: ['sanket', 26, 'DS'],
 4: ['raghav', 67, 'Bussiness'],
 5: ['adi', 35, 'Science'],
 6: ['Empty', 0, 'NA']}

In [683]:
student1 = {
            'roll_no':[1,2,3,4],
            'name':['rahul','aditya','adi','sanket'],
            'age':[25,23,24,26],
            'course_details':['DA','DS','AI','FULL STACK']
            }

In [685]:
print(student1['age'][2])

24

In [701]:
#student1['roll_no'][1]['name'][1]['age'][1]['course_details'][1]
#student1['roll_no','name','age','course_details'][1]
#student1[{['roll_no'][1]},{['name'][1]},{['age'][1]},{['course_details'][1]}]
#student1{['roll_no','name','age','course_details']}
#roll_no, name, age = 
#student1['roll_no'][1], student1['name'][1], student1['age'][1]

#print(roll_no, name, age)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [707]:
#roll_no,age,name,course_details= student1['roll_no'][1],
                                ##student1['name'][1],
                                #student1['course_details'][1]
print(student1['roll_no'][1],student1['name'][1],student1['course_details'][1])

2 aditya DS

# Add, Remove & change items

In [710]:
mydict1 = {'Name':['Data','ABC'],'ID':[12345,12,11],'DOB':1991,'Address':'HIHI'}
mydict1

{'Name': ['Data', 'ABC'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'HIHI'}

In [712]:
mydict1.update({'key':'value1'})

In [716]:
mydict1.update({'age':12,'std':2})

In [718]:
mydict1['Job']= 'Analyst'
mydict1

{'Name': ['Data', 'ABC'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'HIHI',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst'}

In [720]:
mydict1['ABC']=1

In [722]:
mydict1

{'Name': ['Data', 'ABC'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'HIHI',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1}

In [756]:
#mydict1['Name'].append('PQR')
mydict1['name'].append(1)

NameError: name 'mydict1' is not defined

In [726]:
mydict1['Name'].insert(1,'c')

In [728]:
mydict1['Name'].extend(['a','b'])

In [730]:
mydict1

{'Name': ['Data', 'c', 'ABC', 'PQR', 'a', 'b'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'HIHI',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1}

In [732]:
mydict1['name']=mydict1.pop('Name')

In [734]:
mydict1

{'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'HIHI',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'ABC', 'PQR', 'a', 'b']}

In [736]:
mydict1['DOB']=1992
mydict1

{'ID': [12345, 12, 11],
 'DOB': 1992,
 'Address': 'HIHI',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'ABC', 'PQR', 'a', 'b']}

In [738]:
del mydict1['ID'][1]

In [740]:
mydict1

{'ID': [12345, 11],
 'DOB': 1992,
 'Address': 'HIHI',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'ABC', 'PQR', 'a', 'b']}

In [742]:
mydict1.pop("key")

'value1'

In [744]:
del[mydict1['ID']]

In [746]:
mydict1

{'DOB': 1992,
 'Address': 'HIHI',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'ABC', 'PQR', 'a', 'b']}

In [748]:
mydict1.clear()
mydict1

{}

In [750]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined